<!-- ========================= hero-section-wrapper-2 start ========================= -->
<section id="home" class="hero-section-wrapper-2">

  <!-- ========================= hero-2 start ========================= -->
  <div class="hero-section hero-style-2">
    <div class="content">
      <div class="status py-3 mb-4">
        <h5 class="wow fadeInUp" data-wow-delay=".2s">Le statut de votre candidature</h5>
        <h4 class="wow fadeInUp fw-bolder text-white" data-wow-delay=".2s"> {{candidatureStatut.statut}} </h4>
      </div>
      <h5 class="wow fadeInUp  mb-2" data-wow-delay=".2s">Liste d'admissibilité</h5>
      <div class="buttons">
        <a href="https://rebrand.ly/flat-ud/" rel="nofollow" target="blank"
          class="button button-md radius-10 wow fadeInUp" data-wow-delay=".7s">Cliquez pour télécharger</a>
      </div>
      <div>&nbsp;</div>
      <div class="pb-3">
        <h5 class="wow fadeInUp mb-2" data-wow-delay=".2s">Liste des admis</h5>
        <div class="buttons">
          <a href="https://rebrand.ly/flat-ud/" rel="nofollow" target="blank"
            class="button button-md radius-10 wow fadeInUp" data-wow-delay=".7s">Cliquez pour télécharger</a>
        </div>
      </div>
    </div>
  </div>
  <!-- ========================= hero-2 end ========================= -->

</section>