<!-- ========================= hero-2 start ========================= -->
<div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active message_inscription_carousel">
      <img src="/assets/img/Vue_aerienne_du_campus.png" class="d-block w-100" alt="...">
      <div class="message_inscription_background"></div>
      <div class="message_inscription">
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <h4 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Bienvenue sur votre espace d'inscription</h4>

        <div class="buttons justify-content-center">
          <a [routerLink]="['/inscription']" rel="nofollow" class="button button-lg radius-10 wow fadeInUp"
            data-wow-delay=".7s">Inscrivez-vous maintenant</a>
        </div>
      </div>
    </div>
    <div class="carousel-item message_inscription_carousel">
      <img src="/assets/img/Vue_aerienne_du_campus1.png" class="d-block w-100" alt="...">
      <div class="message_inscription_background"></div>
      <div class="message_inscription">
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <h4 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Bienvenue sur votre espace d'inscription</h4>

        <div class="buttons justify-content-center">
          <a [routerLink]="['/inscription']" rel="nofollow" class="button button-lg radius-10 wow fadeInUp"
            data-wow-delay=".7s">Inscrivez-vous maintenant</a>
        </div>
      </div>
    </div>
    <div class="carousel-item message_inscription_carousel">
      <img src="/assets/img/Etudiants.png" class="d-block w-100" alt="...">
      <div class="message_inscription_background"></div>
      <div class="message_inscription">
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <h4 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Bienvenue sur votre espace d'inscription</h4>

        <div class="buttons justify-content-center">
          <a [routerLink]="['/inscription']" rel="nofollow" class="button button-lg radius-10 wow fadeInUp"
            data-wow-delay=".7s">Inscrivez-vous maintenant</a>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
<!-- ========================= hero-2 end ========================= -->

<div class="container">
  <div class="row ">
    <div class="">
      <div class="hero-content-wrapper">
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <div class="row align-items-center  justify-content-center">
          <div class="col-12 col-md-3">
            <h4 class="wow fadeInUp title termTitle" data-wow-delay=".2s">Conditions et termes</h4>
          </div>
          <div class="col-0 col-md-9 d-none d-sm-block">
            <div class="design align-items-center justify-content-center">
              <div class="losange"></div>
              <div class="line"></div>
            </div>
          </div>
        </div>

        <div id="carouselExampleIndicators" class="carousel slide term_content" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div>
                <h6>Bienvenue sur la plateforme d’enregistrement en ligne au concours d’entrée à l’Institut Ucac-Icam.
                </h6>
                <h6>Pour l’enregistrement, vous aurez besoin :</h6>
                <ul style="list-style: disc;">
                  <li>De l’identité de l’élève (nom, prénom, date de naissance, établissement, série du
                    baccalauréat clôturant le cycle secondaire…)</li>
                  <li>Du contact téléphonique et de l’identité des parents</li>
                  <li>D’un compte de paiement en ligne (orange money, Momo, Airtel)</li>
                  <li>Le payement des frais du concours se fait via le compte marchand de l'institut</li>
                </ul>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h6>Pour le CAMEROUN :</h6>
                <h6>Pour l’enregistrement, vous aurez besoin :</h6>
                <ul style="list-style: disc;">
                  <li>Insérer le code <strong>#150*47#</strong> sur votre téléphone</li>
                  <li>Puis entrer le code : <strong>381721</strong></li>
                  <li>Puis le montant à payer (l’application d’inscription affichera le montant à
                    payer selon le nombre de parcours sélectionnés).</li>
                  <li>Après paiement, votre opérateur vous enverra immédiatement un <strong>code
                      d’identification de votre transaction débutant par les lettres MP suivi de
                      plusieurs chiffres.</strong></li>
                  <li>
                    Insérer ce code dans le champ “’référence de paiement” sur la plateforme et
                    insérer le numéro utiliser pour faire la transaction afin de finaliser votre
                    inscription
                  </li>
                </ul>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h6>Pour l’enregistrement pour le CONGO, vous aurez besoin :</h6>
                <ul style="list-style: disc;">
                  <li>Pour valider votre candidature, vous devez verser le montant d'inscription que
                    vous avez choisi par <strong>AIRTEL</strong></li>
                  <li>insérer le code <strong>*128*28*25#</strong> sur votre téléphone et suivez la procédure qui
                    s'affichera sur votre écran</li>
                  <li>L’application d’inscription affichera le montant à payer selon le nombre de
                    parcours sélectionnés.
                  </li>
                  <li>Après le paiement, votre opérateur vous enverra immédiatement un <strong>code
                      d’identification de votre transaction débutant par les lettres CI suivi de
                      plusieurs chiffres.</strong></li>
                  <li>
                    Insérer ce code dans le champ “’référence de paiement” sur la plateforme et
                    insérer le numéro utiliser pour faire la transaction afin de finaliser votre
                    inscription
                  </li>
                </ul>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h6>Pour l’enregistrement pour le GABON, vous aurez besoin :</h6>
                <ul style="list-style: disc;">
                  <li>Pour valider votre candidature, vous devez verser le montant d'inscription que
                    vous avez choisi par <strong>AIRTEL</strong></li>
                  <li>Insérer le code <strong>XXXX</strong> sur votre téléphone et insérer le numéro Orange
                    Money 6XXXXXXX puis suivez la procédure qui s'affichera sur votre écran
                    jusqu’à la validation du paiement</li>
                  <li>L’application d’inscription affichera le montant à payer selon le nombre de
                    parcours sélectionnés.
                  </li>
                  <li>Après le paiement, votre opérateur vous enverra immédiatement un <strong>code
                      d’identification de votre transaction débutant par les lettres CI suivi de
                      plusieurs chiffres.</strong></li>
                  <li>
                    Insérer ce code dans le champ “’référence de paiement” sur la plateforme et
                    insérer le numéro utiliser pour faire la transaction afin de finaliser votre
                    inscription
                  </li>
                </ul>
              </div>
            </div>
            <div class="carousel-item">
              <div>
                <h6>Pour l’enregistrement pour le TCHAD, vous aurez besoin :</h6>
                <ul style="list-style: disc;">
                  <li>Pour valider votre candidature, vous devez verser le montant d'inscription que
                    vous avez choisi, dans votre centre d'examen
                  </li>
                  <li>Après avoir encaissé votre paiement, il vous sera remis un <strong>code
                      d'identification de votre inscription</strong></li>
                  <li>Après avoir pris votre code d’identification dans votre centre d’examen,
                    veuillez retourner dans l’application d’inscription et insérer ce code dans le
                    champ “’référence de paiement” sur la plateforme et poursuivez votre
                    enregistrement.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
        <div class="banner_bloc">
        </div>
        <div class="row align-items-center  justify-content-center">
          <div class="col-0 col-md-9 d-none d-sm-block">
            <div class="design align-items-center justify-content-center">
              <div class="losange"></div>
              <div class="line"></div>
            </div>
          </div>
          <div class="col-12 col-md-3">
            <h4 class="wow fadeInUp title termTitle text-end" data-wow-delay=".2s">Nos centres et sites</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row centerContent">
    <div class="col-12 col-md-5 mb-4 mb-sm-0" style="border-radius: 30px;">
      <div id="carouselExampleIndicators1" class="carousel slide " data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators1" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators1" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 360px;">
            <img src="/assets/img/Vue_aerienne_du_campus.png" class="d-block w-100 h-100" style="border-radius: 30px;">
          </div>
          <div class="carousel-item " style="height: 360px;">
            <img src="/assets/img/Vue_aerienne_du_campus1.png" class="d-block w-100 h-100" style="border-radius: 30px;">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="col-12 col-md-7">
      <div class="centerInformation">
        <h6>Le concours se deroule dans deux zones :</h6>
        <ul style="list-style: disc;">
          <li>Zone Congo</li>
          <li>Zone Cameroun</li>
        </ul>
        <div class="space"></div>
        <h6>Avec nos differents sites :</h6>
        <ul style="list-style: disc;">
          <li>Gabon</li>
          <li>Cameroun</li>
          <li>RCA</li>
          <li>République du Congo</li>
          <li>Tchad</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <div class="divider"></div>

</div>

<button (click)="goTopPage()" id="goTop" class="btn btn-warning" title="Go to top"><i
    class="fa-solid fa-arrow-up"></i></button>