<!-- ========================= hero-2 start ========================= -->
<div id="carouselExampleIndicators" class="carousel slide carousel-fade welcome_carousel" data-ride="carousel">
  <div class="message_inscription_background">

  </div>

  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active message_inscription_carousel" data-bs-interval="10000">
      <img src="/assets/img/Vue_aerienne_du_campus.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item message_inscription_carousel" data-bs-interval="2000">
      <img src="/assets/img/Vue_aerienne_du_campus1.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item message_inscription_carousel" >
      <img src="/assets/img/Etudiants.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
<div class="container">
  <div class="content">
    <div class="message_inscription">
      <h4 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Bienvenue sur votre espace d'inscription</h4>
      <div class="buttons ">
        <a [routerLink]="['/inscription']" rel="nofollow" class="button button-lg radius-10 wow fadeInUp"
          data-wow-delay=".7s">Inscrivez-vous maintenant</a>
      </div>
    </div>
    <div class="d-flex align-items-center mt-4">
      <img src="/assets/img/arrow_down.png" alt="" class="me-2" srcset="" width="32px" height="32px">
      <span class="text-white">Pour l'enregistrement vous aurez besoin </span>
    </div> 
    <div class="prerequis-part block-part d-flex flex bg-white mt-4 p-4">
      <div class="vertical-bar">
        <div class="losange"></div>
      </div>
      <div>
        <h5 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Prerequis</h5>
        <ul  style="list-style: disc;">
          <li>De l’identité de l’élève (nom, prénom, date de naissance, établissement, série du baccalauréat clôturant le cycle secondaire)</li>
          <li>Du contact téléphonique et de l’identité des parents</li>
          <li>D’un compte de paiement en ligne (orange money, Momo, Airtel)</li>
          <li>Le payement des frais du concours se fait via le compte marchand de l'institut selon la procédure suivante</li>
        </ul>
      </div>
    </div>

    <div class="centers-part block-part  d-flex flex bg-white mt-4 p-4">
      <div class="vertical-bar">
        <div class="losange"></div>
      </div>
      <div>
        <h5 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Nos centres et sites </h5>
        <div class="row content">
          <div class="col-12 col-md-5 mb-4 mb-sm-0">
            <div id="carouselForCenter" class="carousel slide carousel-fade" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselForCenter" data-slide-to="0" class="active"></li>
                <li data-target="#carouselForCenter" data-slide-to="1"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active" style="height: 360px;">
                  <img src="/assets/img/Vue_aerienne_du_campus.png" class="d-block w-100 h-100">
                </div>
                <div class="carousel-item " style="height: 360px;">
                  <img src="/assets/img/Vue_aerienne_du_campus1.png" class="d-block w-100 h-100">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselForCenter" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              </a>
              <a class="carousel-control-next" href="#carouselForCenter" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
              </a>
            </div>
          </div>
          <div class="col-12 col-md-7">
            <div class="block-part d-flex flex p-4">
              <div class="vertical-bar">
                <div class="losange"></div>
              </div>
              <div>
                <h6 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Le concours se deroule dans deux zones :</h6>
                <ul style="list-style: disc;">
                  <li>Zone Congo</li>
                  <li>Zone Cameroun</li>
                </ul>
              </div>
            </div>

            <div class="block-part d-flex flex mt-3 p-4">
              <div class="vertical-bar">
                <div class="losange"></div>
              </div>
              <div>
                <h6 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Avec nos differents sites :</h6>
                <ul style="list-style: disc;">
                  <li>Gabon</li>
                  <li>Cameroun</li>
                  <li>RCA</li>
                  <li>République du Congo</li>
                  <li>Tchad</li>
                </ul>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>

    <div class="filieres-part bg-white mt-4 p-4">
      <div class="d-flex flex align-items-center mb-2">
        <img src="/assets/img/arrow_down.png" alt="" class="me-2" srcset="" width="32px" height="32px">
        <h5 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Nos filières</h5>
      </div>
      <div class="content align-items-start justify-content-center">
        <div class="item">
          <p class="d-flex align-items-center justify-content-between">
            <a  class="me-2 text-black" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Ingénieur nformatique
            </a>
            <img src="/assets/img/arrow_down.png" alt="" srcset="" width="32px" height="32px">
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card mt-2 card-body">
              à ce niveau, vous pourvez faire le concour pour le niveau 1 ou 3
            </div>
          </div>
        </div>
        <div class="item">
          <p class="d-flex align-items-center justify-content-between">
            <a  class="me-2 text-black" data-toggle="collapse" href="#collapse2Example" role="button" aria-expanded="false" aria-controls="collapse2Example">
              Génie des procédés
            </a>
            <img src="/assets/img/arrow_down.png" alt="" srcset="" width="32px" height="32px">
          </p>
          <div class="collapse" id="collapse2Example">
            <div class="card mt-2 card-body">
              à ce niveau, vous pourvez faire le concour pour le niveau 1 ou 3
            </div>
          </div>
        </div>
        <div class="item">
          <p class="d-flex align-items-center justify-content-between">
            <a  class="me-2 text-black" data-toggle="collapse" href="#collapse3Example" role="button" aria-expanded="false" aria-controls="collapse3Example">
              Ingénieur Géneraliste
            </a>
            <img src="/assets/img/arrow_down.png" alt="" srcset="" width="32px" height="32px">
          </p>
          <div class="collapse" id="collapse3Example">
            <div class="card mt-2 card-body">
              à ce niveau, vous pourvez faire le concour pour le niveau 1 ou 3
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="evaluations-part bg-white mt-4 p-4">
      <div class="d-flex flex align-items-center mb-2">
        <img src="/assets/img/arrow_down.png" alt="" class="me-2" srcset="" width="32px" height="32px">
        <h5 class="wow fadeInUp title mb-2" data-wow-delay=".2s">Matieres au concours</h5>
      </div>
      <div class="content align-items-start justify-content-center">
       <app-matter-display class="item" [evaluations]="matter.content" [title]="matter.title" [subtitle]="matter.formation" [id]="i" *ngFor="let matter of matters, let i=index"></app-matter-display>
      </div>
    </div>
  </div>
</div>

<button (click)="goTopPage()" id="goTop" class="btn btn-warning" title="Go to top"><i
  class="fa-solid fa-arrow-up"></i></button>