.title {
    /* text-shadow: white -1px -1px 0px, white 3px 3px 0px; */
    color: #F5F5F5 !important;

/* font-size: 48px; */
font-style: normal;
font-weight: 800 !important;
line-height: normal;
}

.message_inscription_carousel {
    height: 830px;
}

.message_inscription_background {
    background-color: hsla(0, 0%, 0%, 0.265);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.message_inscription_carousel img {
    height: 100%;
    object-fit: cover;
}

.message_inscription {
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translate(0, -50%);
    width: 100%;
}

.message_inscription h4 {
    font-size: 2em;
    margin-bottom: 1rem;
}

.mb-2{
    margin-top: 2em;
}

.carousel-control-prev,.carousel-control-next {
    width: 3% !important;
}

.termTitle{
color: #DE640D !important;
margin-block: 1.5em;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.centerTitle {
    margin-right: 0;
    margin: 0;
    text-align: end;
}

.term_content h6 {
    color: #000;

font-style: normal;
font-weight: 700;
line-height: normal;
}

.term_content ul li {
    color: #000;
    
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.term_content ul  {
    margin-top: 0.8em;
}

.term_section {
    display: flex;
}

.term_content {
    border-radius: 30px;
    background: #D9D9D9;
    padding: 2em;
}

.design {
display: flex;
width: 100%;
}

.losange {
    width: 1em;
    height: 1em;
    background: black;
    transform: rotate(45deg);
}

.line {
    width: 100%;
    border-bottom: 3px dotted;
}

.divider {
    width: 100%;
    border-bottom: 1px solid;
}

.banner_bloc {
    margin-block: .3em;
    width: 100%;
    height: 2em;
    border-radius: 30px;
    background: linear-gradient(180deg, #DE640D 0%, #D61A1A 99.99%, rgba(214, 26, 26, 0.00) 100%);
}

.banner_bloc_matter {
    height: 2.5em;
    align-items: center;
    display: flex;
    justify-content: center;
}

.banner_bloc_matter h4 {
    margin: 0;
}

.matter-container {
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding-top: 2rem;
}

.matter-container .matter {
    margin-bottom: 2rem;
    height: 335px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.matter-container .matter .header {
    border-radius: 10px 10px 0px 0px;
    background: #B92D3D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 256px;
    height: 55px;
    flex-shrink: 0;
    text-align: center;
    color: #F5F5F5 !important;
    font-style: normal;
    font-weight: 800 !important;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

.matter-container .matter .body {
    width: 100%;
    margin-block: 1rem;
    padding-inline: 0.5rem;

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.matter-container .matter .body .formation{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: #D9D9D9;
    text-align: center;
    width: 50px;
    height: 32px;
    flex-shrink: 0;
}

.matter-container .matter .body table {
    width: 100%;
}

.matter-container .matter .body .line {
    border-bottom: 1px solid black;
}

.book, .clr-primary {
    color: #DE640D !important;
}

.centerInformation  {
    border-radius: 30px;
    padding: 2em;
    background: linear-gradient(180deg, #DE640D 0%, #D61A1A 99.99%, rgba(214, 26, 26, 0.00) 100%);
}

.centerInformation h6 {
    color: #fff;
    
    font-style: normal;
    line-height: normal;  
}

.centerInformation .space {
    padding-block: 1em;
}

.centerContent  {
    /* margin-block: 1.5em; */
    margin-bottom: 5em;
}

.centerInformation ul li {
    color: #fff;
    
    font-style: normal;
    line-height: normal;
}

#goTop {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.matter_title {
    text-align: center;
    color: #FCEBEB;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

td {
    padding-block: 0.5rem;
}

.reference {
    margin-inline: auto;
    margin-bottom: 2rem;
    padding-block: 1.5rem;
    width: 70%;

    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #000;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.reference .title_ref {
    color: #000;
    margin-bottom: 1.2rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700 !important;
}

ul .text{
    margin-bottom: 1rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

 .text {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.reference .symbols {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 587px) {
    .reference {
        width: 100% !important;
    }
}