<!-- ========================= hero-2 start ========================= -->
<section id="home" class="hero-section-wrapper-2" style="overflow: hidden;">
  <div class="hero-section hero-style-2">
    <div class="" style="background: url(assets/img/Etudiants.png) no-repeat center/cover;">
      <div class="row align-items-center">
        <div class="" style="text-align: center;">
          <div class="hero-content-wrapper">
            <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
            <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
            <h4 class="wow fadeInUp title" data-wow-delay=".2s">Bienvenue sur votre espace d'inscription</h4>

            <div class="buttons justify-content-center">
              <a [routerLink]="['/inscription']" rel="nofollow" class="button button-lg radius-10 wow fadeInUp"
                data-wow-delay=".7s">Inscrivez-vous maintenant</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ========================= hero-2 end ========================= -->

<div class="container">
  <div class="row ">
    <div class="">
      <div class="hero-content-wrapper">
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <!--<h2 class="mb-30 wow fadeInUp" data-wow-delay=".4s">&nbsp;</h2>-->
        <div class="align-items-center term_section justify-content-center">
          <h4 class="wow fadeInUp title termTitle" data-wow-delay=".2s">Conditions et termes</h4>
          <div class="design align-items-center justify-content-center">
            <div class="losange"></div>
            <div class="line"></div>
          </div>
        </div>

        <div class="term_content">
          <h6>Bienvenue sur la plateforme d’enregistrement en ligne au concours d’entrée à l’Institut Ucac-Icam.
          </h6>
          <h6>Pour l’enregistrement, vous aurez besoin :</h6>
          <ul style="list-style: disc;">
            <li>De l’identité de l’élève (nom, prénom, date de naissance, établissement, série du
              baccalauréat clôturant le cycle secondaire…)</li>
            <li>Du contact téléphonique et de l’identité des parents</li>
            <li>D’un compte de paiement en ligne (orange money, Momo, Airtel)</li>
            <li>Le payement des frais du concours se fait via le compte marchand de l'institut</li>
          </ul>
        </div>

        <div class="banner_bloc">
        </div>
        <div class="align-items-center term_section justify-content-center">
          <div class="design align-items-center justify-content-center">
            <div class="line"></div>
            <div class="losange"></div>
          </div>
          <h4 class="wow fadeInUp title termTitle centerTitle" data-wow-delay=".2s">Nos centres et sites </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row centerContent">
    <div class="col-5"
      style="border-radius: 30px;background: url(assets/img/Etudiants.png) no-repeat;    background-size: cover;">
    </div>
    <div class="col-7">
      <div class="centerInformation">
        <h6>Le concours se deroule dans deux zones :</h6>
        <ul style="list-style: disc;">
          <li>Zone Congo</li>
          <li>Zone Cameroun</li>
        </ul>
        <div class="space"></div>
        <h6>Avec nos differents sites :</h6>
        <ul style="list-style: disc;">
          <li>Gabon</li>
          <li>Cameroun</li>
          <li>Republique</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <div class="divider"></div>

</div>