<section class="container"  *ngIf="hasActiveSession">
  <section class="main-header align-items-center row justify-content-between">
    <section class="first-title px-3 col-12 col-md-4">
      <h5 class="text-white">
        Inscrivez-vous maintenant pour la session de:
      </h5>
      <span>{{session.nom}}</span>
    </section>
    <section class="col-12 py-4 px-3 second-title col-md-4">
      <div class="h-75">
        <h5 class="text-white">Date limite des inscriptions en ligne:</h5>
        <span>{{session.date_limite |date: 'fullDate':'':'fr-FR' }}</span>
      </div>
    </section>
    <section class="col-12 py-3 px-3 third-title  col-md-4">
      <div>
        <h5>Date d’examen :</h5>
        <span>{{session.date_examen | date:'fullDate':'':'fr-FR' }}</span>
      </div>
    </section>
  </section>
</section>

<section class="bande-container mt-4 d-flex flex " *ngIf="hasActiveSession">
  <img class="presentation_image" src="/assets/img/background.png" alt="" srcset="">

<div class="zones">
  <div class="zone_list_container">
    <section class="bande">
    </section>
    <section class="pays_bound mt-3 p-3">
      <span class="">Choississzez votre pays</span>
  
      <div class="pays_container mt-5">
        <div *ngFor="let item of site" (click)="selectSite(item)"  class="pays cursor-pointer single-pricing wow mb-4 fadeInUp d-flex flex align-items-center">
          <div class="image me-2">
            <img src="{{item.image}}" alt="">
          </div>
          <span>{{item.nom}}</span>
        </div>
      </div>
    </section>
   </div>
  
    <section class="zone_select_container">
      <section class="bande1 d-flex flex justify-content-center align-items-center">
        <span>Choississez votre centre d’examen</span>
      </section>

      <section class="site p-5 flex d-flex justify-content-between flex-column">
        <div class="mb-5">
          <div class="pays cursor-pointer single-pricing wow mb-4 fadeInUp d-flex flex align-items-center">
            <div class="image me-2">
              <img src="{{siteSelected.image}}" alt="">
            </div>
            <span>{{siteSelected.nom}}</span>
          </div>
  
          <ul class="ps-0">
            <li *ngFor="let centre of siteSelected.centreExamenList" class="mb-3">
              <input [(ngModel)]="candidatureForm.centre" value="{{centre.nom}}" required name="examcenter"
                style="width: 20px; height: 20px;" type="radio" (click)="selectCenter(centre, siteSelected.zone)"
                class="form-input"> &nbsp;
              {{centre.nom}}
            </li>
          </ul>
        </div>

        <a (click)="toggleForm()" style=" bottom: 15px;cursor: pointer;"
            class="button radius-30">Continuer</a>
      </section>
    </section>
</div>
</section>


<section id="pricing" class="pricing-section pricing-style-1 bg-white contact-section contact-style-6"  *ngIf="!hasActiveSession">
  <div class="container">

    <div class="col-12" style="text-align: center; ">
      <h4 class="mb-15 wow fadeInUp" data-wow-delay=".2s" style="color: #c0262d;">Bienvenue sur la plateforme
        d’enregistrement en ligne au concours d’entrée à
        L’Institut Ucac-Icam.
      </h4>
      <div>&nbsp;</div>
    </div>
  </div>
</section>

<div class="container"  *ngIf="!hasActiveSession">
  <div class="col-12" style="text-align: center; ">
    <h4 class="wow fadeInUp" data-wow-delay=".4s"  style="color: #c0262d;">Aucune session active !</h4>
     </div>
</div>