.text-warning {
  color: #df650d !important;
}

.btn-warning,.bg-warning {
  background: #df650d !important;
  color: #fff !important;
}


.card :hover {
  cursor: pointer;
  background: #df650d !important;
  color: #fff !important;
}

.active .card-body{
  cursor: pointer;
  background: #df650d !important;
  color: #fff !important;
}

.block-part .title {
  color: #DE640D !important;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.block-part .vertical-bar .losange {
  margin-left: -56%;
  width: 0.75em;
  height: 0.75em;
  background: #DE640D;
  transform: rotate(45deg);
}

.block-part .vertical-bar {
  margin-right: 1.5em;
  border-left: 3px dotted #DE640D;
}